<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
	apiHost = "/api";
	$(document).ready(function(){
		$.ajax({
			url: apiHost+'/v2/courses/',
			dataType: 'JSON',
			success: function(data){
				document.write('<input type="checkbox" value="1" id="showruntimecontrol"> show runtime<br/>');
				document.write('<input type="checkbox" value="1" id="showpreviewcontrol" checked> show preview link<br/>');
				document.write('<input type="checkbox" value="1" id="showcourseidcontrol" checked> show course ID<br/>');
				$.each(data.response, function(k,v){
					if(v.course_format == 'lessons'){// && v.is_published == 1){
						previewUrl = 'https://cdn0.knowledgecity.com/opencontent/courses/previews/'+v.course_ID+'.jpg';
						courseUrl = "https://www.knowledgecity.com/en/search/"+v.course_ID;

						document.write('<h1><span class="courseid">'+v.course_ID + ' :: </span>' + v.course_name.default_lang +'</h1>');

						document.write('<div><span class="preview"><b>Description:</b> '+ v.course_description.default_lang+ '</span></div>');
						document.write('<div><span class="preview"><b>Meta Title:</b> '+ v.meta_title.default_lang+ '</span></div>');
						document.write('<div><span class="preview"><b>Meta Keywords:</b> '+ v.meta_keywords.default_lang+ '</span></div>');
						document.write('<div><span class="preview"><b>Meta Description:</b> '+ v.meta_description.default_lang+ '</span></div>');



						document.write('<div><span class="courseURL"><a href="'+courseUrl+'" target=_blank>'+courseUrl+'</a></span></div>');
						document.write('<div><span class="preview"><a href="'+previewUrl+'" target=_blank>'+previewUrl+'</a></span></div>');
						document.write('<div id="lessons-'+v.course_ID+'"></div>');

						$.ajax({
							url: apiHost+'/v2/courses/0'+v.course_ID+'/chapters/?lang=en&_extend=lessons',
							type: 'GET',
							dataType: 'JSON',
							success: function(data1){
								$.each(data1.response, function(k1,chapter){
									$('#lessons-'+v.course_ID+'').append('<h3>'+chapter.title+'</h3>');
									$.each(chapter.lessons, function(k2,lesson){
										$('#lessons-'+v.course_ID+'').append('<div><span class="courseid">'+lesson.file+' :: </span>'+lesson.title+'. <span class="runtime" style="display:none">'+getTrtStringFromSeconds(lesson.runtime_seconds)+'</span></div>');
									});
								});
								
							}
						});
					}
				
				});
				$("#showruntimecontrol").on('click', function(){
					if($(this).is(":checked")){
						console.log('1');
						$(".runtime").show();
					}else{
						console.log('2');
						$(".runtime").hide();
					}
				});
				$("#showpreviewcontrol").on('click', function(){
					if($(this).is(":checked")){
						console.log('1');
						$(".preview").show();
					}else{
						console.log('2');
						$(".preview").hide();
					}
				});
				$("#showcourseidcontrol").on('click', function(){
					if($(this).is(":checked")){
						console.log('1');
						$(".courseid").show();
					}else{
						console.log('2');
						$(".courseid").hide();
					}
				});
			}

		});

	});

	function getTrtStringFromSeconds(seconds) {
        var min    = (Math.floor(seconds / 60)).toString();
        min    = min[1] ? min : '0' + min;
        var sec    = (seconds % 60).toString();
        sec    = sec[1] ? sec : '0' + sec;

        return min + 'min. ' + sec + 'sec.';
    };
</script>
<style type="text/css">
	.hidden{display: none;}
</style>
